.vs/
.idea/
.vscode/
Binaries/
Build/
Content/StartContent/
DerivedDataCache/
Intermediate/
Saved/
!Content/_Core
Content/

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace